.fa-youtube {
  color: #ff0000;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-facebook {
  color: #4267b2;
}
.fa-twitter {
  color: #00acee;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.counter-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.counter-container > div{
    flex: 1;
    max-width: 250px;
    text-align: center;
}

.counter {font-weight: bold;}